@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,500&display=swap');
*{
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    background-color: #212529;; 
}

.wrapper {
    max-width: 1600px;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.wrapper-colum {
    max-width: 1100px;
    display: flex;
        overflow: hidden;
    flex-direction: row;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; 
}

.line__black {
    display: block;
    height: 3px;
    background-color: #212529;;
    margin-bottom: 1em;
}

.line__light {
    display: block;
    height: 3px;
    background-color: #ffebcd;
    margin-bottom: 1em;
}

aside {
    background-color: #212529;;
    color: #ffebcd;
    margin: 0px; 
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.photo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.img__photo {
    border-radius: 50%;
    margin-bottom: 50px;
}

section {
    margin-top: 30px;
}

.education{
    display: flex;
    flex-direction: column;
    /* padding-left: 30px; */
    padding-right: 30px;
    
}

.education__place {
    /* width: 70%; */
    font-weight: 400;
    font-size: 20px;
}

.education__descr {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    line-height: 30px; 
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px;
}

.ul_skills.li {
    line-height: 35px;
}

.li_main{
    margin-left: 20px;
    padding: 0;
    list-style: circle;  
}

.skills__git {
    background-image: url(../img/git.png);   
}  
.skills__html {
    background-image: url(../img/html5.png);   
}
.skills__css {
    background-image: url(../img/css.png); 
}

.skills__sass {
    background-image: url(../img/sass.png); 
}

.skills__js {
    background-image: url(../img/js.png); 
}

.skills__figma {
    background-image: url(../img/figma.png); 
}

a {
    display: block;
    text-decoration: none;
    color: #ffebcd;;
    margin-bottom: 12px;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #ffebcd;
   padding: 20px 0px 0px 0px;
   margin: 0 auto;
}

.my_name_block {
    width: 100%;
    height: 200px;
    background-color: #212529;;
    padding: 65px 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #ffebcd;
}

.name {
    font-size: 47px;
    font-weight: 600;
}

.main__wrapper {
    padding: 0px 60px;
}

.btn {
    position: relative;
    left: 200px;
    bottom: 100px;
    display: inline-block; 
    background: #212529; 
    color: #fff; 
    padding: 0,5em; 
    text-decoration: none; 
    border-radius: 3px; 
}


.keep_learning {
    color: #1d0303;
}
.wrapp_keep_learning {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.wrapp_keep_learning:hover::before {
    width: 250px;
}
.wrapp_keep_learning:hover::after {
    width: 250px;
}
.wrapp_keep_learning::before {
    content: '';
    display: block;
    width: 15px;
    height: 32px;
    position: absolute;
    left: -60px;
    top: -2px;
    background-color: #212529;;
}

.wrapp_keep_learning::after {
    content: '';
    display: block;
    width: 15px;
    height: 32px;
    position: absolute;
    right: -60px;
    top: -2px;
    background-color: #212529;;
    transition: 0.5s all;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}

.js-code {
    display: block;
    overflow-x: auto;
    padding: 1.5em;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    
}

.link {
    width: 50px;
}

.wrapper_footer_div {
    display: flex;
    align-items: center;
    
}

.project-img{
    width: 100%;
    margin-right: 30px;
}

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
        margin: 10px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }



}

@media (max-width: 620px) {
    .container{
        max-width: 420px;
    }

    .wrapper-colum {
        max-width: 100%;
        display: flex;
            overflow: hidden;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .container{
        max-width: none ;
    }

    .wrapper-colum {
        max-width: 100%;
        display: flex;
            overflow: hidden;
        flex-direction: column;
    }
}
